.login-input {
  width: 130px;
}

.form-button {
  width: 80px;
  height: 35px;
  text-decoration: solid;
}

.signup-box {
  margin: auto;
  width: 325px;
  background: rgba(255,255,255,0.05);
  border: 0px solid rgba(255,255,255,0.3);
  border-radius: 10px;
}
.display-box {
  margin: auto;
  width: auto;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  background-color: rgba(100,100,100,0.75);
  text-align: left;
}

.commentlist .comment-wrap, .comment ul .comment-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-gap: 2rem;
  background: #17141d;
  color: #c2c2c2;
  box-shadow: 0 4px 80px #070509;
  padding: 2rem;
  border-radius: 16px;
}
.is-primary {
  color: black;
}

button.is-primary.is-inverted.is-outlined:focus, .button.is-primary.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: black;
}

.input.is-success, .textarea.is-success {
  border-color: black;
}
.button.is-primary.is-inverted.is-outlined {
  background-color: transparent;
  border-color: black;
  color: black;
}
body {
  background-image: url(/static/food.jpg);
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
}

.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-left: calc(.625em - 1px);
  padding-right: calc(.625em - 1px);
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: transparent;
  border-color: black;
  color: black;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: .75em;
  padding-right: .75em;
  text-align: center;
  white-space: nowrap;
}
.button.is-hovered, .button:hover {
  background-color: rgba(255,255,255,0.5);
  border-color: black;
  color: #363636;
}


.rbody {
  background-image: url(/static/food.jpg);
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  font-weight: bold;
  margin: 0;
  height: 100%;
  color: black
}
.ingredients {
  text-decoration: none;
  font-size: small;
  color: none
}

.rrow {
  display: grid;
  text-align: center;
  
}
.comment-body {
  display: inline-block;
  justify-content: center;
  ;
}

.aass {
  background-color: rgba(255,255,255,0.7);
  padding: 4px;

}